body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: rgb(79, 107, 117);
  display:flex;
  flex-direction:column;
  margin: 5px;
  padding: 5px;
  letter-spacing: 0.06em;
  line-height: 15pt;
}
header {
  color: black;
  padding:10px;
  background-color: rgb(50, 119, 145);
}
header h1 {
  text-align: center;
}
nav ul li {
  list-style: none;
  float: right;
  padding:15px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: white;
}
section a {
  text-decoration: none;
  color: black;
}
section a:hover {
  color: white;
}
section {
  text-align: justify;
  margin: 5px 20px 2px 40px;
  letter-spacing: 0.06em;
}
footer {
  text-align: center;
  color:black;
  background-color: rgb(50, 119, 145);
  padding: 10px;
  margin-top: auto;
}
  footer a {
  color: black;
}
  footer a:hover {
  color: white;
}
